# 데이터 로딩, 저장, 파일 형식

입/출력
* 텍스트 파일을 이용하는 방법
* 데이터베이스를 이용하는 방법
* 웹 API를 이용하는 방법

In [39]:
import pandas as pd
import numpy as np

## 6.1. 텍스트 파일을 이용하는 방법

pandas 파일 파싱 함수

<table align="left">
    <thead>
        <td>함수</td>
        <td>설명</td>
    </thead>
    <tbody>
        <tr>
            <td>read_csv</td>
            <td>파일, URL 또는 파일과 유사한 객체로부터 구분된 데이터를 읽어온다. 데이터 구분자는 쉼표(,)를 기본으로 한다.<\td>
        </tr>
        <tr>
            <td>read_table</td>
            <td>파일, URL 또는 파일과 유사한 객체로부터 구분된 데이터를 읽어온다. 데이터 구분자는 탭를 기본으로 한다.탭<\td>
        </tr>
        <tr>
            <td>read_fwf</td>
            <td>고정폭 컬럼 형식에서 데이터를 읽어온다.</td>
        </tr>
        <tr>
            <td>read_clipboard</td>
            <td>클립보드에 있는 데이터를 읽어오는 read_table 함수. 웹 페이지에서 표를 긁어올 때 유용하다</td>
        </tr>
    </tbody>
</table>

위 함수는 텍스트 데이터를 DataFrame 으로 읽어오는 함수로, 몇 가지 옵션을 제공합니다.

1. 색인 : 반환하는 DataFrame 에서 하나 이상의 칼럼을 색인으로 지정할 수 있다. 파일이나 사용자로부터 칼럼의 이름을 받거나 아무것도 받지 않을 수 있다.
2. 자료형 추론과 데이터 변환 : 사용자가 정의 값 변환과 비어있는 값을 위한 사용자 리스트를 포함한다.
3. 날짜 분석 : 여러 칼럼에 걸쳐 있는 날짜와 시간 정보를 하나의 칼럼에 조합해서 결과에 반영한다.
4. 반복 : 여러 파일에 걸쳐 있는 자료를 반복적으로 읽어올 수 있다.
5. 정제되지 않은 데이터 처리 : 로우나 꼬리말, 주석 건너뛰기 또는 천 단위마다 쉼표로 구분된 숫자 같은 사소한 일을 처리해 준다.

In [1]:
!cat ch06/ex1.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [3]:
df = pd.read_csv('ch06/ex1.csv')

In [4]:
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

구분자를 지정할 수도 있다.

In [5]:
pd.read_table('ch06/ex1.csv', sep=',')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [6]:
!cat ch06/ex2.csv

1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

header 옵션을 사용하지 않으면 첫 row 를 header 로 사용하게 되며, header 값이 없는 경우는 header=None 옵션을 주도록 한다.

In [7]:
pd.read_csv('ch06/ex2.csv', header=None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

Header 를 직접 지정할 수도 있다.

In [8]:
pd.read_csv('ch06/ex2.csv', names=['a', 'b', 'c', 'd', 'message'])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [9]:
names = ['a', 'b', 'c' ,'d', 'message']

index_col 옵션을 사용하여 특정 컬럼 값을 index 로 활용할 수도 있다.

In [10]:
pd.read_csv('ch06/ex2.csv', names=names, index_col='message')

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

계층적 색인을 사용하고자 한다면??

In [11]:
!cat ch06/csv_mindex.csv

key1,key2,value1,value2
one,a,1,2
one,b,3,4
one,c,5,6
one,d,7,8
two,a,9,10
two,b,11,12
two,c,13,14
two,d,15,16

In [12]:
parsed = pd.read_csv('ch06/csv_mindex.csv', index_col=['key1', 'key2'])
parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

고정된 구분자 없이 공백 또는 다른 패턴의 필드로 구분된 경우가 있는데, 이 때는 read_table 의 sep 옵션에 정규표현식을 사용하자.

In [13]:
list(open('ch06/ex3.txt'))

['            A         B         C\n',
 'aaa -0.264438 -1.026059 -0.619500\n',
 'bbb  0.927272  0.302904 -0.032399\n',
 'ccc -0.264273 -0.386314 -0.217601\n',
 'ddd -0.871858 -0.348382  1.100491\n']

이 경우 첫 row 가 칼럼이 하나 적기 때문에 read_table 시에 첫 번째 컬럼은 DataFrame 의 색인으로 지정한다.

In [14]:
result = pd.read_table('ch06/ex3.txt', sep='\s+')
result

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

skiprows 옵션을 이용하여 특정 row 를 제외하고 읽을 수도 있다.

In [15]:
!cat ch06/ex4.csv

# hey!
a,b,c,d,message
# just wanted to make things more difficult for you
# who reads CSV files with computers, anyway?
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [16]:
pd.read_csv('ch06/ex4.csv', skiprows=[0, 2, 3])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

누락된 값 처리하기

In [17]:
!cat ch06/ex5.csv

something,a,b,c,d,message
one,1,2,3,4,NA
two,5,6,,8,world
three,9,10,11,12,foo

In [18]:
result = pd.read_csv('ch06/ex5.csv')
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [19]:
pd.isnull(result)

  something      a      b      c      d message
0     False  False  False  False  False    True
1     False  False  False   True  False   False
2     False  False  False  False  False   False

In [21]:
result = pd.read_csv('ch06/ex5.csv', na_values=['NULL'])
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

열마다 다른 NA 문자를 사전 값으로 넘겨 처리할 수도 있다.

In [22]:
sentinels = {'message': ['foo', 'NA'], 'something': ['two']}

In [23]:
pd.read_csv('ch06/ex5.csv', na_values=sentinels)

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       NaN  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN

read_csv/read_table 함수 인자

<table align="left">
    <thead>
        <td>인자</td>
        <td>설명</td>
    </thead>
    <tbody>
        <tr>
            <td>path</td>
            <td>파일 시스템에서의 위치, URL, 파일 객체를 나타내는 문자열</td>
        </tr>
        <tr>
            <td>sep or delimiter</td>
            <td>필드를 구분하기 위해 사용할 연속된 문자나 정규표현식</td>
        </tr>
        <tr>
            <td>header</td>
            <td>칼럼의 이름으로 사용할 로우의 번호, 기본 값은 0(첫 로우)이며, 헤더가 없으면 None으로 지정할 수 있다.</td>
        </tr>
        <tr>
            <td>index_col</td>
            <td>색인으로 사용할 칼럼 번호나 이름. 계층적 색인을 지정할 경우 리스트를 넘길 수 있다.</td>
        </tr>
        <tr>
            <td>names</td>
            <td>칼럼 이름으로 사용할 리스트. header=None 과 함께 사용한다.</td>
        </tr>
        <tr>
            <td>skiprows</td>
            <td>파일의 시작부터 무시할 로우의 개수 또는 무시할 로우 번호가 담긴 리스트</td>
        </tr>
        <tr>
            <td>na_values</td>
            <td>NA 값으로 처리할 값들의 나열</td>
        </tr>
        <tr>
            <td>comment</td>
            <td>추석으로 분류되어 파싱하지 않을 문자 혹은 문자열</td>
        </tr>
        <tr>
            <td>parse_dates</td>
            <td>날짜를 datetime으로 변환할지의 여부, 기본값은 False 이며, True일 경우 모든 칼럼에 다 적용된다. 리스트를 넘기면 변환할 칼럼을 지정할 수 있다.</td>
        </tr>
        <tr>
            <td>keep_date_col</td>
            <td>여러 칼럼을 datetime으로 변환했을 경우 원래 칼럼을 남겨둘지의 여부, 기본값은 False</td>
        </tr>
        <tr>
            <td>converters</td>
            <td>변환 시 칼럼에 적용할 함수를 지정한다. 예를 들어 {'foo':f} 는 'foo' 칼럼에 f 함수를 적용한다. 전달하는 사전의 키 값은 칼럼 이름이나 번호가 될 수 있다.</td>
        </tr>
        <tr>
            <td>dayfirst</td>
            <td>모호한 날짜 형식일 경우 국제 형식으로 간주한다(1/7/2016는 2016년 7월 1일로 간주한다). 기본값은 False</td>
        </tr>
        <tr>
            <td>date_parser</td>
            <td>날짜 변환시 사용할 함수</td>
        </tr>
        <tr>
            <td>nrows</td>
            <td>파일의 첫 일부만 읽어올 때 처음 몇 줄을 읽을 것인지 지정한다.</td>
        </tr>
        <tr>
            <td>iterator</td>
            <td>파일을 조금씩 읽을 때 사용하도록 TextParser 객체를 반환하도록 한다. 기본값은 False</td>
        </tr>
        <tr>
            <td>chunksize</td>
            <td>TextParser 객체에서 사용할 한 번에 읽을 파일의 크기</td>
        </tr>
        <tr>
            <td>skip_footer</td>
            <td>무시할 파일의 마지막 줄 수</td>
        </tr>
        <tr>
            <td>verbose</td>
            <td>파싱 결과에 대한 정보를 출력한다. 숫자가 아닌 값이 들어있는 칼럼이면서 누락된 값이 있다면 줄 번호를 출력한다. 기본값은 False</td>
        </tr>
        <tr>
            <td>encoding</td>
            <td>유니코드 인코딩 종류를 지정한다. UTF-8로 인코딩된 텍스트일 경우 'utf-8'로 지정한다.</td>
        </tr>
        <tr>
            <td>squeeze</td>
            <td>로우가 하나뿐이라면 Series 객체를 반환한다. 기본값은 False</td>
        </tr>
        <tr>
            <td>thousands</td>
            <td>숫자를 천 단위로 끊을 때 사용할 ','나 '.' 같은 구분자</td>
        </tr>
    </tbody>
</table>

### 6.1.1. 텍스트 파일 조금씩 읽어오기

In [24]:
result = pd.read_csv('ch06/ex6.csv')
result

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
5     1.817480  0.742273  0.419395 -2.251035   Q
6    -0.776764  0.935518 -0.332872 -1.875641   U
7    -0.913135  1.530624 -0.572657  0.477252   K
8     0.358480 -0.497572 -0.367016  0.507702   S
9    -1.740877 -1.160417 -1.637830  2.172201   G
10    0.240564 -0.328249  1.252155  1.072796   8
11    0.764018  1.165476 -0.639544  1.495258   R
12    0.571035 -0.310537  0.582437 -0.298765   1
13    2.317658  0.430710 -1.334216  0.199679   P
14    1.547771 -1.119753 -2.277634  0.329586   J
15   -1.310608  0.401719 -1.000987  1.156708   E
16   -0.088496  0.634712  0.153324  0.415335   B
17   -0.018663 -0.247487 -1.446522  0.750938   A
18   -0.070127 -1.579097  0.120892  0.671432   F
19   -0.194678 -0.492039  2.359605  0.319810   H
20   -0.248618  0.868707 -0.492226 -0.717959   W
21   -1.091549 -0.867110 -0.647760 -0.832562   C
22    0.641404 -0.138822 -0.621963 -0.284839   C
23    1.216408  0.992687  0.165162 -0.069619   V
24   -0.564474  0.792832  0.747053  0.571675   I
25    1.759879 -0.515666 -0.230481  1.362317   S
26    0.126266  0.309281  0.382820 -0.239199   L
27    1.334360 -0.100152 -0.840731 -0.643967   6
28   -0.737620  0.278087 -0.053235 -0.950972   J
29   -1.148486 -0.986292 -0.144963  0.124362   Y
...        ...       ...       ...       ...  ..
9970  0.633495 -0.186524  0.927627  0.143164   4
9971  0.308636 -0.112857  0.762842 -1.072977   1
9972 -1.627051 -0.978151  0.154745 -1.229037   Z
9973  0.314847  0.097989  0.199608  0.955193   P
9974  1.666907  0.992005  0.496128 -0.686391   S
9975  0.010603  0.708540 -1.258711  0.226541   K
9976  0.118693 -0.714455 -0.501342 -0.254764   K
9977  0.302616 -2.011527 -0.628085  0.768827   H
9978 -0.098572  1.769086 -0.215027 -0.053076   A
9979 -0.019058  1.964994  0.738538 -0.883776   F
9980 -0.595349  0.001781 -1.423355 -1.458477   M
9981  1.392170 -1.396560 -1.425306 -0.847535   H
9982 -0.896029 -0.152287  1.924483  0.365184   6
9983 -2.274642 -0.901874  1.500352  0.996541   N
9984 -0.301898  1.019906  1.102160  2.624526   I
9985 -2.548389 -0.585374  1.496201 -0.718815   D
9986 -0.064588  0.759292 -1.568415 -0.420933   E
9987 -0.143365 -1.111760 -1.815581  0.435274   2
9988 -0.070412 -1.055921  0.338017 -0.440763   X
9989  0.649148  0.994273 -1.384227  0.485120   Q
9990 -0.370769  0.404356 -1.051628 -1.050899   8
9991 -0.409980  0.155627 -0.818990  1.277350   W
9992  0.301214 -1.111203  0.668258  0.671922   A
9993  1.821117  0.416445  0.173874  0.505118   X
9994  0.068804  1.322759  0.802346  0.223618   H
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

In [25]:
pd.read_csv('ch06/ex6.csv', nrows=5)

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

In [26]:
chunker = pd.read_csv('ch06/ex6.csv', chunksize=1000)
chunker

In [27]:
tot = pd.Series([])
for piece in chunker:
    tot = tot.add(piece['key'].value_counts(), fill_value=0)
    
tot = tot.sort_values(ascending=False)

In [28]:
tot

E    368.0
X    364.0
L    346.0
O    343.0
Q    340.0
M    338.0
J    337.0
F    335.0
K    334.0
H    330.0
V    328.0
I    327.0
U    326.0
P    324.0
D    320.0
A    320.0
R    318.0
Y    314.0
G    308.0
S    308.0
N    306.0
W    305.0
T    304.0
B    302.0
Z    288.0
C    286.0
4    171.0
6    166.0
7    164.0
8    162.0
3    162.0
5    157.0
2    152.0
0    151.0
9    150.0
1    146.0
dtype: float64

### 6.1.2. 데이터를 텍스트 형식으로 기록하기

In [29]:
data = pd.read_csv('ch06/ex5.csv')
data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [30]:
data.to_csv('ch06/out.csv')

In [31]:
!cat ch06/out.csv

,something,a,b,c,d,message
0,one,1,2,3.0,4,
1,two,5,6,,8,world
2,three,9,10,11.0,12,foo

In [32]:
import sys

In [33]:
data.to_csv(sys.stdout, sep='|')

|something|a|b|c|d|message
0|one|1|2|3.0|4|
1|two|5|6||8|world
2|three|9|10|11.0|12|foo

누락된 값도 처리가 가능하다

In [34]:
data.to_csv(sys.stdout, na_rep='NULL')

,something,a,b,c,d,message
0,one,1,2,3.0,4,NULL
1,two,5,6,NULL,8,world
2,three,9,10,11.0,12,foo

로우와 칼럼 이름을 제외하고 출력할 수도 있다.

In [35]:
data.to_csv(sys.stdout, index=False, header=False)

one,1,2,3.0,4,
two,5,6,,8,world
three,9,10,11.0,12,foo

일부 칼럼만 출력할 수도 있다.

In [36]:
data.to_csv(sys.stdout, index=False, cols=['a', 'b', 'c'])

something,a,b,c,d,message
one,1,2,3.0,4,
two,5,6,,8,world
three,9,10,11.0,12,foo

Series 도 to_csv 메서드를 지원한다.

In [38]:
dates = pd.date_range('1/1/2016', periods=7)

In [40]:
ts = pd.Series(np.arange(7), index=dates)

In [41]:
ts.to_csv('ch06/tseries.csv')

In [42]:
!cat ch06/tseries.csv

2016-01-01,0
2016-01-02,1
2016-01-03,2
2016-01-04,3
2016-01-05,4
2016-01-06,5
2016-01-07,6

csv 파일을 읽어 Series 로 만들 수도 있다.

In [43]:
pd.Series.from_csv('ch06/tseries.csv', parse_dates=True)

2016-01-01    0
2016-01-02    1
2016-01-03    2
2016-01-04    3
2016-01-05    4
2016-01-06    5
2016-01-07    6
dtype: int64

### 6.1.3. 수동으로 구분 형식 처리하기

대부분 read_table 같은 함수로 처리가 가능하나, 잘못된 형식이 포함된 경우 수동으로 처리해야 하는 경우도 있다.

In [44]:
!cat ch06/ex7.csv

"a","b","c"
"1","2","3"
"1","2","3","4"

In [57]:
import csv

In [58]:
f = open('ch06/ex7.csv')
reader = csv.reader(f)

In [59]:
for line in reader:
    print(line)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3', '4']

In [60]:
lines = list(csv.reader(open('ch06/ex7.csv')))
header, values = lines[0], lines[1:]
data_dict = {h: v for h, v in zip(header, zip(*values))}
data_dict

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

csv 파일은 다양한 형태로 존재할 수 있는데, 예를 들면 구분자나 문자열을 둘러싸는 방법, 개행문자 등이 있다.<br/>
이를 해결하는 방법은 csv.Dialect 를 상속받아 새로운 클래스를 정의해서 해결할 수 있다.

In [61]:
class my_dialect(csv.Dialect):
    lineterminator = '\n'
    delimiter = ';'
    quotechar = '"'
    quoting = csv.QUOTE_MINIMAL
    
reader = csv.reader(f, dialect=my_dialect)

In [62]:
reader = csv.reader(f, delimiter='|')

csv 관련 옵션

<table align="left">
    <thead>
        <td>인자</td>
        <td>설명</td>
    </thead>
    <tbody>
        <tr>
            <td>delimiter</td>
            <td>필드를 구분하기 위한 한 글짜짜리 구분자. 기본값은 ','</td>
        </tr>
        <tr>
            <td>lineterminator</td>
            <td>파일을 저장할 때 사용할 개행문자. 기본값은 '\r\n'. 파일을 읽을 때는 이 값을 무시하며 자동으로 플랫폼별 개행문자를 인식한다.</td>
        </tr>
        <tr>
            <td>quotechar</td>
            <td>각 필드에서 값을 둘러싸고 있는 문자. 기본값은 '"'</td>
        </tr>
        <tr>
            <td>quoting</td>
            <td>값을 읽거나 쓸 때 둘러쌀 문자 컨펜션. csv.QUOTE_ALL(모든 필드에 적용), csv.QUOTE_MINIMAL(구분자 같은 특별한 문자가 포함된 필드만 적용), csv.QUOTE_NONE(값을 둘러싸지 않음)</td>
        </tr>
        <tr>
            <td>skipinitialspace</td>
            <td>구분자 뒤에 있는 공백문자를 무시할지의 여부. 기본값은 False</td>
        </tr>
        <tr>
            <td>doublequote</td>
            <td>값을 둘러싸는 문자가 필드 내에 존재할 경우의 처리 여부. True면 그 문자까지 모두 둘러싼다.</td>
        </tr>
        <tr>
            <td>escapechar</td>
            <td>quoting이 csv.QUOTE_NONE 일 때, 값이 구분자와 같은 문자가 있을 경우 구별할 수 있도록 해주는 이스케이프 문자('\' 같은). 기본값은 None</td>
        </tr>
    </tbody>
</table>

좀 더 복잡하거나 한 글자를 초과하는 고정 길이를 가진다면 csv 모듈을 사용할 수 없다.<br/>
이 경우 줄을 나누고 split 이나 re.split 등을 이용하여 가공해야 한다.

In [54]:
with open('mydata.csv', 'w') as f:
    writer = csv.writer(f, dialect=my_dialect)
    writer.writerow(('one', 'two', 'three'))
    writer.writerow(('1', '2', '3'))
    writer.writerow(('4', '5', '6'))
    writer.writerow(('7', '8', '9'))

In [55]:
!cat mydata.csv

one;two;three
1;2;3
4;5;6
7;8;9

### 6.1.4. JSON 데이터

In [67]:
obj = """
{
    "name": "Wes",
    "places_lived":["United States", "Spain", "Germany"],
    "pet": null,
    "siblings":[
        {"name": "Scott", "age": 25, "pet": "Zuko"},
        {"name": "Katie", "age": 33, "pet": "Cisco"}
    ]
}
"""

In [68]:
import json

In [69]:
result = json.loads(obj)

In [70]:
result

{'name': 'Wes',
 'pet': None,
 'places_lived': ['United States', 'Spain', 'Germany'],
 'siblings': [{'age': 25, 'name': 'Scott', 'pet': 'Zuko'},
  {'age': 33, 'name': 'Katie', 'pet': 'Cisco'}]}

json.dumps 는 파이썬 객체를 json 형태로 변환한다

In [72]:
json.dumps(result)

'{"places_lived": ["United States", "Spain", "Germany"], "pet": null, "name": "Wes", "siblings": [{"age": 25, "pet": "Zuko", "name": "Scott"}, {"age": 33, "pet": "Cisco", "name": "Katie"}]}'